/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* 
Personal addition
*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: "Open Sans", sans-seri;
  color: #9da4bd;
}

.container {
  margin: 0 auto;
  padding: 0 31px;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 39px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.text {
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}

.section {
  padding: 84px 0;
  min-width: 320px;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.no-scroll {
  overflow: hidden;
}

.header {
  min-width: 320px;
}

.header__container {
  position: relative;
  z-index: 100;
}

.header__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 32px 59px 0 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 35px 0 15px;
  }
}

.header__logo {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 60px;
    fill: #303030;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 131px;
  }
}

.header__content {
  display: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__link {
  padding: 7px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .header__btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 768px) {
  .header__socials {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotateZ(-90deg) translate(-550px, 91px);
            transform: rotateZ(-90deg) translate(-550px, 91px);
  }
}
@media screen and (min-width: 1200px) {
  .header__socials {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotateZ(-90deg) translate(-550px, 56px);
            transform: rotateZ(-90deg) translate(-550px, 56px);
  }
}

.toggle {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .toggle {
    display: none;
  }
}
.toggle:hover, .toggle:focus {
  color: #ff6c00;
}
.toggle--dark {
  color: #303030;
}

.toggle__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background: rgba(25, 28, 38, 0.2);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .backdrop {
    display: none;
  }
}

.backdrop__container {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
}

.mobile-menu {
  padding: 48px 31px 48px 40px;
}

.mobile-menu__toggle {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 0;
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.mobile-menu__item {
  color: #303030;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
}
.mobile-menu__item:hover, .mobile-menu__item:focus {
  color: #ff6c00;
}

.mobile-menu__link {
  display: block;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.title--dark {
  color: #303030;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.subtitle--dark {
  color: #303030;
}
.subtitle--light {
  color: #ffffff;
}
.subtitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.btn {
  padding: 11px 19px;
  min-width: 160px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
.btn--dark {
  color: #303030;
}
.btn--flexible {
  padding: 11px 36px;
}
.btn--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: #ff6c00;
}
.link--bold {
  font-weight: 700;
}
.link--underlined {
  text-decoration: underline;
}

.nav {
  margin-right: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
@media screen and (min-width: 1200px) {
  .nav__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

.hero__container {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding: 0 39px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 0 15px;
  }
}

.hero__content {
  position: relative;
  margin-left: auto;
  padding: 208px 31px 209px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero__content {
    max-width: 570px;
    padding: 272px 20px 237px 120px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    max-width: 1070px;
    padding: 272px 20px 208px 100px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
  }
}

.hero__text {
  max-width: 336px;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    max-width: 358px;
    font-size: 18px;
    line-height: 1.67;
  }
}

.hero__wrap {
  position: relative;
  z-index: 1;
}

.hero__slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slider {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.slider__item {
  width: 1070px;
  height: 680px;
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__item--1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-1-mob.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-1-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slider__item--1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-1-mob@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-1-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .slider__item--1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-1-tab.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-1-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slider__item--1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-1-tab@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-1-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slider__item--1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-1-desk.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-1-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .slider__item--1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-1-desk@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-1-desk@2x.jpg);
  }
}

.slider__item--2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-2-mob.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-2-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slider__item--2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-2-mob@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-2-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .slider__item--2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-2-tab.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-2-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slider__item--2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-2-tab@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-2-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slider__item--2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-2-desk.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-2-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .slider__item--2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-2-desk@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-2-desk@2x.jpg);
  }
}

.slider__item--3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-3-mob.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-3-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slider__item--3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-3-mob@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-3-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .slider__item--3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-3-tab.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-3-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slider__item--3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-3-tab@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-3-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slider__item--3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-3-desk.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-3-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .slider__item--3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../images/hero/hero-bg-3-desk@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-3-desk@2x.jpg);
  }
}

.tns-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .tns-nav {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 12px;
  }
}

button[data-nav] {
  width: 8px;
  height: 2px;
  padding: 0;
  background-color: #9da4bd;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
}
button[data-nav].tns-nav-active {
  -webkit-transform: scaleX(2.25);
          transform: scaleX(2.25);
  background-color: #ffffff;
}

.tns-controls {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

button[data-controls] {
  display: none;
}
@media screen and (min-width: 768px) {
  button[data-controls] {
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.1;
    color: #9da4bd;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  button[data-controls]:hover {
    color: #ffffff;
  }
  button[data-controls]::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }
}

button[data-controls]:last-child {
  margin-left: 24px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.link-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.link-set::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.link-set--temporary {
  display: none;
}
@media screen and (min-width: 768px) {
  .link-set--temporary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.link-set--col {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 24px;
}

.link-set__link {
  padding: 7px 0;
}

.success {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.success.isShown {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.success__img {
  padding: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ff6c00;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.about__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .about__wrap {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrap {
    padding-right: 100px;
  }
}

.about__title {
  max-width: 306px;
  margin-bottom: 20px;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 42px;
    max-width: 100%;
  }
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 20px;
}

.about__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (max-width: 767px) {
  .about__info {
    margin-bottom: 40px;
  }
}

.about__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.services {
  max-width: 1600px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .services {
    font-size: 18px;
  }
}

.services__subtitle {
  margin-bottom: 20px;
}

.services__title {
  margin-bottom: 44px;
  font-size: 40px;
}
@media screen and (min-width: 1200px) {
  .services__title {
    font-size: 42px;
  }
}

.services__sets {
  margin-bottom: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding: 30px 20px 30px 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 768px) {
  .services__sets {
    padding: 32px 27px 32px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .services__sets {
    gap: 30px;
    padding: 0;
    background: none;
  }
}

.services__set {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .services__set {
    padding: 30px 22px 30px 20px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .services__set:first-child {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .services__set:last-child {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.services__item:not(:last-child) {
  margin-bottom: 20px;
}
.services__item::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 12px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.services__desc:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.jarallax-img {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/services/services-bg-mob.png), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
  background-image: url(../images/services/services-bg-mob.png), linear-gradient(#111319, #111319);
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .jarallax-img {
    background-image: url(../images/services/services-bg-mob@2x.png), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url(../images/services/services-bg-mob@2x.png), linear-gradient(#111319, #111319);
  }
}
@media screen and (min-width: 768px) {
  .jarallax-img {
    background-image: url(../images/services/services-bg-tab.png), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url(../images/services/services-bg-tab.png), linear-gradient(#111319, #111319);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .jarallax-img {
    background-image: url(../images/services/services-bg-tab@2x.png), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url(../images/services/services-bg-tab@2x.png), linear-gradient(#111319, #111319);
  }
}
@media screen and (min-width: 1200px) {
  .jarallax-img {
    background-image: url(../images/services/services-bg-desk.png), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url(../images/services/services-bg-desk.png), linear-gradient(#111319, #111319);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .jarallax-img {
    background-image: url(../images/services/services-bg-desk@2x.png), -webkit-gradient(linear, left top, left bottom, from(#111319), to(#111319));
    background-image: url(../images/services/services-bg-desk@2x.png), linear-gradient(#111319, #111319);
  }
}

.reasons {
  padding-bottom: 119px;
}
@media screen and (min-width: 1200px) {
  .reasons {
    padding-bottom: 135px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons {
    padding-bottom: 155px;
  }
}

@media screen and (min-width: 1200px) {
  .reasons__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .reasons__wrap {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0 70px 0 15px;
  }
}

.reasons__subtitle {
  margin-bottom: 20px;
}

.reasons__title {
  margin-bottom: 20px;
  max-width: 430px;
  letter-spacing: 0.04em;
}

.reasons__text {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.6666666667;
}
@media screen and (min-width: 768px) {
  .reasons__text {
    max-width: 500px;
  }
}

.reasons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .reasons__list {
    max-width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .reasons__list {
    max-width: 100%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0 115px 0 100px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.reasons__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  padding: 20px 0;
  background-color: #f7f7f7;
  /*   &:nth-child(2) {
      margin-top: 35px;
    }
  height: 133px;
    &:nth-child(3) {
      margin-top: -35px;
    } */
}
.reasons__item:nth-child(2) {
  position: relative;
  top: 35px;
}
.reasons__item:nth-child(4) {
  position: relative;
  top: 35px;
}

.reasons__num {
  position: relative;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.reasons__num > sup {
  position: absolute;
  top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #ff6c00;
}

.reasons__desc {
  max-width: 122px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.barbers {
  background-color: #f7f7f7;
}

.barbers__subtitle {
  margin-bottom: 20px;
}

.barbers__title {
  margin-bottom: 44px;
}

@media screen and (min-width: 1200px) {
  .barbers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.barbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .barbers__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .barbers__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.barbers__item:not(:last-child) {
  margin-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .barbers__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.barbers__img {
  width: 100%;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.barbers__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: #303030;
}

.barbers__desc {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #303030;
  background-color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.portfolio__subtitle {
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .portfolio__subtitle {
    margin-bottom: 44px;
  }
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  -ms-flex-preferred-size: calc((100% - 0px) / 1);
      flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.portfolio__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.connection {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/contacts/contacts-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 47%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .connection {
    background-image: url(../images/contacts/contacts-bg-mob@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .connection {
    background-image: url(../images/contacts/contacts-bg-tab.png);
    background-size: 100% 46%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .connection {
    background-image: url(../images/contacts/contacts-bg-tab@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    background-image: url(../images/contacts/contacts-bg-desk.png);
    background-position: right;
    background-size: 50% 100%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .connection {
    background-image: url(../images/contacts/contacts-bg-desk@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .connection__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.booking {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: auto;
}
@media screen and (min-width: 1200px) {
  .booking {
    padding: 130px 0;
  }
}

.booking__title {
  margin-bottom: 44px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .booking__title {
    text-align: start;
  }
}

.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 44px 30px;
}
@media screen and (min-width: 1200px) {
  .booking__form {
    padding-right: 30px;
  }
}

.form__item {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-bottom: 8px;
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  outline: none;
}
@media screen and (min-width: 768px) {
  .form__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
.form__item::-webkit-input-placeholder {
  color: rgba(157, 164, 189, 0.6);
}
.form__item::-moz-placeholder {
  color: rgba(157, 164, 189, 0.6);
}
.form__item:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.6);
}
.form__item::-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.6);
}
.form__item::placeholder {
  color: rgba(157, 164, 189, 0.6);
}
.form__item:focus::-webkit-input-placeholder {
  color: #ffffff;
  border-color: #ffffff;
}
.form__item:focus::-moz-placeholder {
  color: #ffffff;
  border-color: #ffffff;
}
.form__item:focus:-ms-input-placeholder {
  color: #ffffff;
  border-color: #ffffff;
}
.form__item:focus::-ms-input-placeholder {
  color: #ffffff;
  border-color: #ffffff;
}
.form__item:focus, .form__item:focus::placeholder {
  color: #ffffff;
  border-color: #ffffff;
}
.form__item--large {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 76px;
  resize: none;
}

.form__btn {
  margin: 0 auto;
}
.form__btn:disabled {
  background-color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
  cursor: not-allowed;
}
@media screen and (min-width: 768px) {
  .form__btn {
    margin: 0;
  }
}

.contacts {
  min-width: auto;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .contacts {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 130px 0 120px 100px;
  }
}

.contacts__title {
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
}

.contacts__address {
  font-style: normal;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__address {
    max-width: 300px;
  }
}

.contacts__list {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    margin-bottom: 70px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    max-width: 270px;
  }
}

.contacts__icon {
  height: 30px;
  stroke: currentColor;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contacts__icon--aligned {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contacts__subtitle {
  margin-bottom: 20px;
}
.contacts__subtitle::before {
  background: rgba(157, 164, 189, 0.6);
}

.contacts__text {
  font-size: 18px;
  color: #9da4bd;
}

.footer {
  min-width: 320px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  background-color: #f7f7f7;
}

.footer__container {
  padding: 56px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__list {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .footer-copy {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}/*# sourceMappingURL=main.css.map */