:root {
  --primary-color: #9da4bd;
  --secondary-color: #555555;
  --tertiary-color: #ffffff;
  --quaternary-color: #303030;
  --extra-color: rgba(157, 164, 189, 0.6);
  --line-color: rgba(157, 164, 189, 0.12);
  --accent-color: #ff6c00;

  --primary-bg-color: #f7f7f7;
  --secondary-bg-color: #191c26;

  --gradient-color: #111319;
  --first-item-gradient: 180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%;
  --second-item-gradient: 180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%;

  --gap-size: 30px;
  --image-amount: 3;
}

/*! Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  font-family: inherit;
  border: none;
}
img {
  display: block;
}

/*! General styles */
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-color);
}

.btn {
  width: 160px;
  height: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;

  text-transform: uppercase;
  color: var(--tertiary-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--accent-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--quaternary-color);
}

.subtitle {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--extra-color);
}
.subtitle::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*! Header */
.header {
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-logo {
  margin-right: 31px;
}

.header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 20px 0 100px;
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  column-gap: var(--gap-size);
}

.header-link {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--tertiary-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/*! Hero */
.hero {
}

.hero-container {
  display: flex;
}

.hero-list {
  width: 100px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--quaternary-color);
}

.hero-wrapper {
  flex-grow: 1;
  padding: 272px 0 208px 100px;

  background-color: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/bg/slider/slider-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-subtitle {
  margin-bottom: 20px;
}

.hero-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--tertiary-color);
}

.hero-text {
  max-width: 358px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/*! About */
.about-container {
  display: flex;
  column-gap: 30px;
}

.about-list {
  display: flex;
  column-gap: var(--gap-size);
}

.about-wrapper {
  padding-right: 100px;
}

.about-subtitle {
  margin-bottom: 20px;
  color: var(--quaternary-color);
}

.about-title {
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 20px;
}

.about-info {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.about-btn {
  color: var(--quaternary-color);
}

/*! Services and prices */
.services {
  max-width: 1600px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/bg/services.png),
    linear-gradient(var(--gradient-color), var(--gradient-color));
  background-position: center;
  background-size: cover;
}

.services-subtitle {
  margin-bottom: 20px;
  color: var(--extra-color);
}
.services-title {
  margin-bottom: 44px;
  color: var(--tertiary-color);
}

.services-list {
  margin-bottom: 44px;
  display: flex;
  column-gap: var(--gap-size);
}

.services-list > .list-item {
  flex-basis: calc((100%-30px) / 2);
  padding: 30px 22px 30px 20px;
}

.services-list > .list-item:first-child {
  background-image: linear-gradient(var(--first-item-gradient));
}

.services-list > .list-item:last-child {
  background-image: linear-gradient(var(--second-item-gradient));
}

.services-sublist > .sublist-item {
  display: flex;
  align-items: baseline;
}

.services-sublist > .sublist-item:not(:last-child) {
  margin-bottom: 20px;
}

.sublist-item::after {
  content: '';
  flex-grow: 1;
  margin: 0 12px;
  border-bottom: 1px solid var(--line-color);
}

.sublist-item p:last-child {
  order: 1;
}

.services-btn {
  display: block;
  margin: 0 auto;
}

/*! Why people come to us */
.reasons > .container {
  display: flex;
}

.reasons-list {
  padding: 0 115px 0 100px;
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.reasons-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: var(--primary-bg-color);
}

.reasons-item:nth-child(2) {
  margin-top: 35px;
}
.reasons-item:nth-child(3) {
  margin-top: -35px;
}

.reasons-num {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--quaternary-color);
}

.reasons-num > sup {
  vertical-align: super;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.reasons-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--quaternary-color);
}

.reasons-wrap {
  flex-basis: 50%;
  padding: 0 70px 0 15px;
}

.reasons-subtitle {
  margin-bottom: 20px;
  color: var(--quaternary-color);
}
.reasons-title {
  margin-bottom: 20px;
  max-width: 430px;
}

/*! Our barbers */
.barbers {
  background-color: var(--primary-bg-color);
}

.barbers-subtitle {
  margin-bottom: 20px;
  color: var(--quaternary-color);
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.barbers-item {
  flex-basis: calc((100% - (var(--gap-size) * (var(--image-amount) - 1))) / var(--image-amount));
}

.barbers-image {
  width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}

.barbers-name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--quaternary-color);
}

.barbers-description {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.socials {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: var(--quaternary-color);
  background-color: var(--tertiary-color);
}

.socials-link > svg {
  fill: currentColor;
}

/*! Portfolio */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-subtitle {
  margin-bottom: 44px;
  color: var(--quaternary-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-size);
}

.portfolio-item {
  --image-amount: 4;
  flex-basis: calc((100% - (var(--gap-size) * (var(--image-amount) - 1))) / var(--image-amount));
}

.portfolio-image {
  width: 100%;
  object-fit: cover;
}

/*! Online-booking */
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  background-color: var(--secondary-bg-color);
}

.booking {
  flex-basis: 50%;
  padding: 130px 0 0 216px;
}

.booking-title {
  margin-bottom: 44px;
  color: var(--tertiary-color);
}

/*! Contacts */
.contacts {
  padding: 130px 0 120px 100px;
  flex-basis: 50%;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  background-image: url(../images/bg/contacts.png);
  background-repeat: no-repeat;
  /*  background-position: center; */
  /*  background-size: cover; */
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--tertiary-color);
}

.contacts-address {
  font-style: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-item:last-child {
  margin-bottom: 70px;
}

.contacts-item:first-child > .contacts-link {
  font-weight: 700;
}

.contacts-link {
  max-width: 270px;
  display: flex;
  gap: 16px;
}

.contacts-link > svg {
  stroke: currentColor;
  flex-shrink: 0;
}

.underlined {
  text-decoration: underline;
}

.contacts-subtitle {
  margin-bottom: 20px;
  color: var(--tertiary-color);
}

.contacts-subtitle::before {
  background: var(--extra-color);
}

.contacts-text {
  color: var(--primary-color);
}

/*! Foooter */
.footer {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  background-color: var(--primary-bg-color);
}

.footer > .container {
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  color: var(--quaternary-color);
}

.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}
