.about {
}

.about__container {
  display: flex;
  column-gap: 30px;
}

.about__list {
  display: none;

  @include tablet {
    display: flex;
    column-gap: var(--gap-size);
  }
}

.about__wrap {
  @include desktop {
    padding-right: 100px;
  }
}

.about__title {
  max-width: 306px;
  margin-bottom: 20px;
  font-size: 28px;

  @include desktop {
    font-size: 42px;
  }
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 20px;
}

.about__info {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  @include desktop {
    margin-bottom: 42px;
  }
}
