.about {
}

.about__container {
  display: flex;
  column-gap: 30px;
}

.about__list {
  display: none;

  @include tablet {
    $item-amount: 2;
    flex-basis: calc((100% - ($item-amount - 1) * $gap-size) / $item-amount);
    display: flex;
    flex-direction: column;
    gap: $gap-size;
  }
}

.about__item {
}

.about__wrap {
  @include tablet {
    $item-amount: 2;
    flex-basis: calc((100% - ($item-amount - 1) * $gap-size) / $item-amount);
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    padding-right: 100px;
  }
}

.about__title {
  max-width: 306px;
  margin-bottom: 20px;
  font-size: 28px;

  @include desktop {
    font-size: 42px;
  }
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 20px;
}

.about__info {
  flex-grow: 1;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  @include desktop {
    margin-bottom: 42px;
  }
}

.about__btn {
  width: max-content;
}
