.barbers {
  background-color: $primary-bg-color;
}

.barbers__subtitle {
  margin-bottom: 20px;
}
.barbers__title {
  margin-bottom: 44px;
}

.barbers__list {
  @include desktop {
    display: flex;
    gap: $gap-size;
  }
}

.barbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    $item-amount: 2;
    flex-basis: calc((100% - ($gap-size * ($item-amount - 1))) / $item-amount);
  }

  @include desktop {
    $item-amount: 3;
    flex-basis: calc((100% - ($gap-size * ($item-amount - 1))) / $item-amount);
  }

  &:not(:last-child) {
    margin-bottom: 64px;

    @include desktop {
      margin-bottom: 0;
    }
  }
}

.barbers__img {
  width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}

.barbers__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: $quaternary-color;
}

.barbers__desc {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: $accent-color;
}
