.booking {
  flex-basis: 50%;
  padding: 84px 0;
}

.booking__title {
  margin-bottom: 44px;
  text-align: center;

  @include tablet {
    text-align: start;
  }
}

.booking__form {
  display: flex;
  flex-wrap: wrap;
  gap: 44px 30px;
}
