.btn {
  width: 160px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;

  text-transform: uppercase;
  color: var(--tertiary-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-cubic-bezier),
    background-color var(--transition-duration) var(--transition-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--tertiary-color);
    background-color: var(--accent-color);
  }

  &--dark {
    color: var(--quaternary-color);
  }
}
