.btn {
  padding: 11px 19px;
  min-width: 160px;

  font-weight: 600;
  font-size: 12px;
  line-height: (16 / 12);
  letter-spacing: 0.09em;

  text-transform: uppercase;
  color: $tertiary-color;
  background-color: transparent;
  border: 1px solid $accent-color;
  border-radius: 25px;

  cursor: pointer;

  transition: color $transition-duration $transition-cubic-bezier,
    background-color $transition-duration $transition-cubic-bezier;

  &:hover,
  &:focus {
    color: $tertiary-color;
    background-color: $accent-color;
  }

  &--dark {
    color: $quaternary-color;
  }

  &--flexible {
    padding: 11px 36px;
  }

  &--centered {
    display: flex;
    margin: 0 auto;
    width: max-content;
  }
}
