.contacts {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  @include desktop {
    flex-basis: 50%;
    padding: 130px 0 120px 100px;
  }
}

.contacts__title {
  margin-bottom: 40px;
  text-align: center;

  @include tablet {
    text-align: start;
  }
}

.contacts__wrap {
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
    display: flex;
    column-gap: 60px;
  }
}

.contacts__address {
  font-style: normal;

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
    max-width: 300px;
  }
}

.contacts__list {
  margin-bottom: 44px;

  @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
    margin-bottom: 70px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 20px;

  @include desktop {
    max-width: 270px;
  }
}

.contacts__icon {
  height: 30px;
  stroke: currentColor;
  flex-shrink: 0;

  &--aligned {
    align-self: flex-start;
  }
}

.contacts__subtitle {
  margin-bottom: 20px;

  &::before {
    background: $extra-color;
  }
}

.contacts__text {
  font-size: 18px;
  color: $primary-color;
}
