.footer {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  background-color: var(--primary-bg-color);
}

.footer__container {
  padding: 56px 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__list {
  align-self: flex-end;
}

.footer-copy {
  @include tablet {
    order: -1;
  }
}
