.header {
}

.header__container {
  position: relative;
  z-index: 100;
}

.header__wrap {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 40px 31px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

.header__logo {
  fill: var(--tertiary-color);

  @include tablet {
    margin-right: 31px;
    fill: var(--quaternary-color);
  }
}

.header__content {
  display: none;

  @include tablet {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 20px 0 100px;
  }
}

.header__link {
  margin-right: 40px;
  padding: 7px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--tertiary-color);
}
