.header {
  min-width: 320px;
}

.header__container {
  position: relative;
  z-index: 100;
}

.header__wrap {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 40px 31px 0;

  display: flex;
  justify-content: space-between;

  @include tablet {
    justify-content: flex-start;
    padding: 32px 59px 0 50px;
  }

  @include desktop {
    align-items: center;
    padding: 40px 35px 0 15px;
  }
}

.header__logo {
  fill: $tertiary-color;

  @include tablet {
    margin-right: 60px;
    fill: $quaternary-color;
  }

  @include desktop {
    margin-right: 131px;
  }
}

.header__content {
  display: none;
  width: 100%;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
}

.header__link {
  padding: 7px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: $tertiary-color;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: 20px;

  @include desktop {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.header__btn {
  @include desktop {
    order: 1;
  }
}

.header__socials {
  @include tablet {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    transform-origin: left bottom;
    transform: rotateZ(-90deg) translate(-550px, 91px);
  }

  @include desktop {
    transform-origin: left bottom;
    transform: rotateZ(-90deg) translate(-550px, 56px);
  }
}
