.hero {
}

.hero__container {
  padding: 0;

  @include tablet {
    padding: 0 39px;
  }

  @include desktop {
    padding: 0 15px;
  }
}

.hero__content {
  margin-left: auto;
  padding: 208px 31px 209px;

  background-color: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/bg/slider/slider-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    max-width: 570px;
    padding: 272px 20px 237px 120px;
  }

  @include desktop {
    max-width: 1070px;
    padding: 272px 20px 208px 100px;
  }
}

.hero__title {
  margin-bottom: 20px;

  font-family: $secondary-font-family;
  font-weight: 700;

  font-size: 48px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--tertiary-color);

  @include desktop {
    font-size: 72px;
  }
}

.hero__text {
  max-width: 336px;

  font-size: 16px;
  line-height: (26 / 16);
  letter-spacing: 0.02em;

  @include desktop {
    max-width: 358px;
    font-size: 18px;
    line-height: 1.67;
  }
}

.hero__wrap {
  display: none;
  position: relative;

  @include tablet {
    display: block;
    flex-basis: 100px;
    flex-grow: 0;
  }
}
