.link {
  transition: color $transition-duration $transition-cubic-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--bold {
    font-weight: 700;
  }

  &--underlined {
    text-decoration: underline;
  }
}
