.link-set {
  display: flex;
  align-items: center;
  column-gap: 40px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: $quaternary-color;

  &::before {
    content: '';

    width: 60px;
    height: 1px;

    background-color: currentColor;
  }
}

.link-set--temporary {
  display: none;

  @include tablet {
    display: flex;
  }
}

.link-set--col {
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 24px;
}

.link-set__link {
  padding: 7px 0;
}
