.portfolio {
}

.portfolio__subtitle {
  margin-bottom: 71px;

  @include tablet {
    margin-bottom: 44px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-size;
}

.portfolio__item {
  $item-amount: 1;
  flex-basis: calc((100% - ($gap-size * ($item-amount - 1))) / $item-amount);

  @include tablet {
    $item-amount: 2;
    flex-basis: calc((100% - ($gap-size * ($item-amount - 1))) / $item-amount);
  }

  @include desktop {
    $item-amount: 2;
    flex-basis: calc((100% - ($gap-size * ($item-amount - 1))) / $item-amount);
  }
}

.portfolio__img {
  object-fit: cover;
}
