.portfolio {
}

.portfolio__subtitle {
  margin-bottom: 71px;
}

.portfolio__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    column-gap: $gap-size;
  }
}

.portfolio__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  $item-amount: 4;
  flex-basis: calc((100% - ($gap-size * ($item-amount - 1))) / $item-amount);
}

.portfolio__img {
  object-fit: cover;
}
