.services {
  max-width: 1600px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  @include tablet {
    font-size: 18px;
  }
}

.services__subtitle {
  margin-bottom: 20px;
}

.services__title {
  margin-bottom: 44px;
  font-size: 40px;

  @include desktop {
    font-size: 42px;
  }
}

.services__sets {
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;

  $gap-size: 20px;
  gap: $gap-size;

  padding: 30px 20px 30px 40px;

  background-image: $gradient-services-first-set;

  @include tablet {
    padding: 32px 27px 32px 40px;
  }

  @include desktop {
    $gap-size: 30px;
    gap: $gap-size;
    padding: 0;

    background: none;
  }
}

.services__set {
  width: 100%;

  @include desktop {
    padding: 30px 22px 30px 20px;
    $item-amount: 2;
    flex-basis: calc((100% - $gap-size * ($item-amount - 1)) / $item-amount);

    &:first-child {
      background-image: $gradient-services-first-set;
    }

    &:last-child {
      background-image: $gradient-services-second-set;
    }
  }
}

.services__item {
  display: flex;
  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::after {
    content: '';
    flex-grow: 1;
    margin: 0 12px;
    border-bottom: 1px solid $line-color;
  }
}

.services__desc:last-child {
  order: 1;
}


