.slider {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.slider__item {
  width: 1070px;
  height: 680px;

  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__item--1 {
  background-image: $gradient-hero, url(../images/hero/hero-bg-1-mob.jpg);

  @include retina {
    background-image: $gradient-hero, url(../images/hero/hero-bg-1-mob@2x.jpg);
  }

  @include tablet {
    background-image: $gradient-hero, url(../images/hero/hero-bg-1-tab.jpg);

    @include retina {
      background-image: $gradient-hero, url(../images/hero/hero-bg-1-tab@2x.jpg);
    }
  }

  @include desktop {
    background-image: $gradient-hero, url(../images/hero/hero-bg-1-desk.jpg);

    @include retina {
      background-image: $gradient-hero, url(../images/hero/hero-bg-1-desk@2x.jpg);
    }
  }
}

.slider__item--2 {
  background-image: $gradient-hero, url(../images/hero/hero-bg-2-mob.jpg);

  @include retina {
    background-image: $gradient-hero, url(../images/hero/hero-bg-2-mob@2x.jpg);
  }

  @include tablet {
    background-image: $gradient-hero, url(../images/hero/hero-bg-2-tab.jpg);

    @include retina {
      background-image: $gradient-hero, url(../images/hero/hero-bg-2-tab@2x.jpg);
    }
  }

  @include desktop {
    background-image: $gradient-hero, url(../images/hero/hero-bg-2-desk.jpg);

    @include retina {
      background-image: $gradient-hero, url(../images/hero/hero-bg-2-desk@2x.jpg);
    }
  }
}

.slider__item--3 {
  background-image: $gradient-hero, url(../images/hero/hero-bg-3-mob.jpg);

  @include retina {
    background-image: $gradient-hero, url(../images/hero/hero-bg-3-mob@2x.jpg);
  }

  @include tablet {
    background-image: $gradient-hero, url(../images/hero/hero-bg-3-tab.jpg);

    @include retina {
      background-image: $gradient-hero, url(../images/hero/hero-bg-3-tab@2x.jpg);
    }
  }

  @include desktop {
    background-image: $gradient-hero, url(../images/hero/hero-bg-3-desk.jpg);

    @include retina {
      background-image: $gradient-hero, url(../images/hero/hero-bg-3-desk@2x.jpg);
    }
  }
}

.tns-nav {
  display: none;

  @include tablet {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

button[data-nav] {
  width: 8px;
  height: 2px;
  padding: 0;

  background-color: $primary-color;

  transition: transform $transition-duration $transition-cubic-bezier;
  transform-origin: right;

  &.tns-nav-active {
    transform: scaleX(2.25);

    background-color: $tertiary-color;
  }
}

.tns-controls {
  position: absolute;
  bottom: 40px;
  right: 20px;
}

button[data-controls] {
  display: none;

  @include tablet {
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;

    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.1;
    color: $primary-color;

    transition: color $transition-duration $transition-cubic-bezier;

    &:hover {
      color: $tertiary-color;
    }

    &::after {
      content: '';
      display: block;

      width: 60px;
      height: 1px;

      background-color: currentColor;
    }
  }
}

button[data-controls]:last-child {
  margin-left: 24px;
  align-items: flex-end;
}
