.socials {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: $quaternary-color;
  background-color: $tertiary-color;
}

.socials__icon {
  fill: currentColor;
}
