.toggle {
  color: $tertiary-color;

  @include tablet {
    display: none;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--dark {
    color: $quaternary-color;
  }
}

.toggle__icon {
  fill: currentColor;
}
