.container {
  margin: 0 auto;
  padding: 0 31px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding: 0 39px;
  }

  @include desktop {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.text {
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $secondary-color;

  @include tablet {
    font-size: 18px;
  }
}

.section {
  padding: 84px 0;

  @include tablet {
    padding: 100px 0;
  }
  @include desktop {
    padding: 120px 0;
  }
}

.no-scroll {
  overflow: hidden;
}
