:root {
  --primary-color: #9da4bd;
  --secondary-color: #555555;
  --tertiary-color: #ffffff;
  --quaternary-color: #303030;
  --extra-color: rgba(157, 164, 189, 0.6);
  --line-color: rgba(157, 164, 189, 0.12);
  --accent-color: #ff6c00;

  --primary-bg-color: #f7f7f7;
  --secondary-bg-color: #191c26;

  --gradient-color: #111319;
  --first-item-gradient: 180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%;
  --second-item-gradient: 180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%;

  --gap-size: 30px;
  --image-amount: 3;
  --transition-duration: 250ms;
  --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

$primary-font-family: 'Open Sans', sans-seri;
$secondary-font-family: 'Raleway', sans-serif;

$item-amount: 1;
$gap-size: 30px;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
